body, html, #header {
    margin: 0;
    font-size: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lavender;
}

#header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 5vmin;
    margin: 0;
    align-self: center;
}

#container {
    width: 80%;
    margin: auto;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/*Gameboard*/

#gameboard {
    width: 65vh;
    height: 65vh;
    border: 5px solid black;
    background-color: gray;
    align-self: flex-start;
}

.tile {
    border: 1px solid white;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.assassin {
    background-color: black;
}

/*Form*/

#form-container {
    background-color: darkgray;
    border: 5px solid black;
    border-radius: 10%;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

form > div {
    font-size: 3vmin;
    display: block;
}

.form-div {
    margin: 5% 0;
}

